<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{results[0].user.firstName}}'s &nbsp;results</h5>

                    <table class="table" aria-describedby="result">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">exam</th>
                                <th scope="col">view</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let j of results;let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{j.exam.examName}}</td>
                                <td>
                                    <p data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
                                        (click)="setvalue(j.exam.examId,j.resultId)">view result </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <div class="row mb-2">
          <div style="text-align: start;" class="col-6 p-2">
            <!-- <h4 style="font-weight: bolder; color: blue; margin-left: 10px;">{{results[0].user.firstName}}'s &nbsp;result</h4> -->
          </div>
          <div style="text-align: end;" class="col-6">
          </div>
        </div>
          <div class="card">
              <div class="card-body">
                  <div class="row mb-3 mt-3">
                    <label for="search" class="col-sm-1">&nbsp; search</label>
                    <div class="col-sm-3">
                      <input type="text" id="filter-text-box" placeholder="Filter..." [(ngModel)]="searchText"
                      (ngModelChange)="onFilterBoxChange()" />
                    </div>
                  </div>
                  <ag-grid-angular style="height: 500px; " class="ag-theme-alpine m-3"
                  class="ag-theme-alpine"
                  [defaultColDef]="defaultColDef"
                  [rowData]="results"
                  [columnDefs]="colDefs"
                      [defaultColDef]="defaultColDef"
                      [suppressRowClickSelection]="true"
                      (gridReady)="onGridReady($event)"
                      [pagination]="true"
                  ></ag-grid-angular>
              </div>
          </div>
      </div>
  </div>
</div>
