<div class="container">
    <div class="row">
        <div class="col-12">
          <div style="text-align: end;">
            <a routerLink="/admin/addexam">
              <h1 class="ri-add-circle-fill"></h1>
            </a>
          </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">exams</h5>
                        </div>
                        <div class="col-4">
                            <button class="small mt-3 btn-sm btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#verticalycentered">
                                add questions</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">exams</th>
                                <th scope="col">level</th>
                                <th scope="col">Enroll</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of exams;let q = index">
                                <th scope="row">{{q+1}}</th>
                                <td>{{i.examName}}</td>
                                <td>{{i.level}}</td>
                                <td>
                                    <p class="small mb-0" data-bs-toggle="modal" data-bs-target="#verticalycentered2"
                                        (click)="setexamId(i.examId)">
                                        start</p>
                                </td>
                                <td class="row">
                                    <i class="ri-delete-bin-2-fill col-2" (click)="deleteexam(i.examId)"></i>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="verticalycentered" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add questions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <label class="col-sm-2 col-form-label">exam</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="examselected">
                            <option selected [ngValue]="null">plese select exam</option>
                            <option *ngFor="let i of exams" [ngValue]="i">{{i.examName}}</option>
                        </select>
                    </div>
                    <label class="col-sm-2 col-form-label">subject</label>
                    <div class="col-sm-10 mt-2">
                        <ng-multiselect-dropdown [settings]="dropdownSettingsforsubject" [data]="subjects"
                            [(ngModel)]="subjectIds" (onSelect)="select()" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div *ngIf="subjectIds != null " class="mt-2">
                    <div class="row" *ngFor="let i of subjectIds">
                        <div class="col-4">
                            <p>subject</p> <p> {{i.subjectName}}</p>
                        </div>
                        <div class="col-4">
                            <p  class="col-4" >number</p>  <input type="number" class="col-8" placeholder="number" [(ngModel)]="i.number" required>
                        </div>
                    </div>
                </div>

                <div style="text-align:right;" class="mt-3">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addexamquestions()">added</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="verticalycentered2" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enroll</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" [formGroup]="enrollexamform" (ngSubmit)="enroll()" novalidate>

                    <label class="form-label">students:</label>
                    <div class="col-10">
                        <div class="input-group has-validation">
                            <div class="col-sm-10">
                                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="users"
                                    formControlName="userId">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>

                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                            style="width: 100%;">send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->
