<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Exam Portal</span>
    </a>
  </div><!-- End Logo -->
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/dashbord">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/course">
        <i class="bi bi-grid"></i>
        <span>course</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/subject">
        <i class="bi bi-grid"></i>
        <span>subject</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/question">
        <i class="bi bi-grid"></i>
        <span>question</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin/exam">
        <i class="bi bi-grid"></i>
        <span>exam</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/logout">
        <i class="bi bi-box-arrow-right"></i>
      <span>Sign Out</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->
