<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
  </div><!-- End Logo -->



  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item">
        <h3>{{today | date:'h:mm'}}</h3>
      </li>
      <li class="nav-item">
        &nbsp;
      </li>

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/student/dashbord">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/student/results">
        <i class="bi bi-grid"></i>
        <span>results</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/logout">
        <i class="bi bi-box-arrow-right"></i>
      <span>Sign Out</span>
      </a>
    </li>


  </ul>

</aside>