<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add question</h5>

            <form [formGroup]="questionform" (ngSubmit)="onSubmit()">
                <div class="card">
                    <h5 class="card-header"></h5>
                    <div class="card-body border-bottom">
                        <div class="form-row">
                            <div class="form-group">
                                <label>Number of Tickets</label>
                                <select formControlName="Numberofquestion" class="form-control"
                                    (change)="onChangequestion($event)" [ngClass]="{ 'is-invalid': submitted  }">
                                    <option value=""></option>
                                    <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let question of questionFormGroups; let i = index" class="list-group list-group-flush">
                        <div class="list-group-item">
                            <h5 class="card-title">question {{i + 1}}</h5>
                            <div [formGroup]="question" class="form-row">
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">question</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" formControlName="question" ></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">A</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="a" id="inputText">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">B</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="b" id="inputText">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">C</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="c" id="inputText">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">D</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="d" id="inputText">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Answer</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="correctAnswer" id="inputText">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center border-top-0">
                        <button class="btn btn-primary mr-1">submit</button>
                        <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
                        <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>