<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 style="text-align:center;">Signup</h2>
        <form [formGroup]="userform" (ngSubmit)="adduser()">
            FirstName: <input type="text" class="form-control" formControlName="firstName" />
            <span class="err"
                *ngIf="userform.get('firstName')?.touched  && userform.get('firstName')?.hasError('required')">Please
                Enter FirstName</span>
            <span class="err"
                *ngIf="userform.get('firstName')?.touched  && userform.get('firstName')?.hasError('minlength')">FirstName
                Should be in 3 length </span>
            <br>

            lastName: <input type="text" class="form-control" formControlName="lastName" />
            <span class="err"
                *ngIf="userform.get('lastName')?.touched  && userform.get('lastName')?.hasError('required')">Please
                Enter FirstName</span>
            <span class="err"
                *ngIf="userform.get('lastName')?.touched  && userform.get('lastName')?.hasError('minlength')">lastName
                Should be in 3 length </span>
            <br>

            Email: <input type="email" formControlName="email" class="form-control" required/>
            <span class="err" *ngIf="userform.get('email')?.hasError('pattern')">
                Please Enter valid email
            </span>
           
            <br>

            Password: <input type="password" formControlName="password" class="form-control" />
            <span class="err"
                *ngIf="userform.get('password')?.touched && userform.get('password')?.hasError('required')">
                Please Enter Password
            </span>
            <span class="err"
                *ngIf="userform.get('password')?.touched && userform.get('password')?.hasError('minlength')">
                Password Must be in 8 length</span>
            <span class="err"
                *ngIf="userform.get('password')?.touched && userform.get('password')?.hasError('strongPassword')">
                Please Select Strong Password [include <br> 1) [ @ or $ or # ] <br>2) Upper Letter <br>3) Lower Letter ]
            </span>
            <br>

            gender:
            male:<input type="radio" formControlName="gender" value="male" />
            female:<input type="radio" formControlName="gender" value="female" />
            <span class="err"
                *ngIf="userform.get('gender')?.touched  && userform.get('gender')?.hasError('required')">Please
                Select gender</span>
            <br><br />

            <button type="submit" class="btn btn-primary">add</button>
        </form>
    </div>
</div>