.cut-text{
  text-align: center;
  width: auto;
  overflow:hidden;
  overflow-x: hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-div{
  padding-bottom: 50%;
  padding-top: 50%;
  text-align: left;
}
.center-text{
  position: fixed; /* or absolute */
  top: 50%;
  left: 48%;
}
