/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/dist/styles//ag-grid.css';
@import '../node_modules/ag-grid-community/dist/styles//ag-theme-alpine.css';

.landing{
  background-color: aqua;
  text-align: center;
  color: black;
  padding: 10px;
  height: 100%;
  padding-top: 40%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal{
  border-radius: 0px;
}
.modal-dialog{
  border-radius: 0px;
}

